body{font-family: 'Unlock', cursive;
}
#pics img{
    width: 20%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
#pics {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
}

#donate h2 {text-shadow: 2px 2px #FFFFFF;}

#eagles h2 {text-shadow: 2px 2px #ff0000;}
p {
    font-size: 20px;
}
    
#header, #donate, #eagles {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px 0;
}

#pics img:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
html{background-color:red;}

#header {
    color: white;
    background-image: url("https://i.gifer.com/Dv9E.gif");
}

#donate {
    background: blue;
}
#eagles {
    background: blue;
    color: black;
}

#donate button {
    width: 400px;   
    height: 60px;
    font-size: 30px;
    background: black;
    color: red;
    border-radius: 5px;
    border: solid white 3px;
}




